@import "tailwindcss";
@import "./styles/theme.css";
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-gray-50 text-gray-900 transition-colors dark:bg-gray-950 dark:text-gray-100;
}

button,
a,
[role="button"] {
  cursor: pointer;
}
